node_modules
dist
.tmp
.sass-cache
app/bower_components

*.bowerrc
*.editorconfig
.idea/.name
.idea/ang-madhav.iml
.idea/encodings.xml
.idea/vcs.xml
bower.json
test/.jshintrc
test/runner.html
test/spec/controllers/main.js
package.json
.idea/jsLibraryMappings.xml
karma.conf.js
.idea/libraries/ang_madhav_node_modules.xml
karma-e2e.conf.js
.idea/misc.xml
firebase.json
.idea/modules.xml
Gruntfile.js
.idea/scopes/scope_settings.xml
.travis.yml
.idea/workspace.xml
.jshintrc
.tmp/styles/main.css
.tmp/styles/main.css
.tmp/styles/main.css