<div class="header">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0);">Child DayCare</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="#/adminMain">Manage Records</a></li>
        <li><a href="#/adminMsg">Message</a></li>       
        <li><a href="#/manageAdmin">Admin Control</a></li>       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

<div class="container admin-view" ng-controller="ChildrenController">
  <div class="row baby-desc">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <p class="label label-info sort-lbl">Sort the results by:</p>
          <div class="btn-group btn-group-justified sort-menu">
            <div class="btn-group">
              <a href="javascript:void(0);" class="btn btn-default active" ng-click="sortChild='age';reverse=!reverse;changeButtonColor($event);">Age</a>
            </div>
            <div class="btn-group">
              <a href="javascript:void(0);" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Gender <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li ng-click="childGender='M'"><a href="javascript:void(0);">Boy<span class="badge">{{children.childrenArr.length}}</span></a></li>
                <li class="divider"></li>
                <li ng-click="childGender='G'"><a href="javascript:void(0);">Girl<span class="badge">{{children.childrenArr.length}}</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <p class="label label-info sort-lbl">Search By :</p>
          <div class="row search-menu">
            <div class="child-search">
              <div class="input-group">
                <span class="input-group-addon">Name</span>
                <input class="form-control" type="text" ng-model="srChildName" />
              </div>
            </div>
            <div class="child-search">
              <div class="input-group">
                <span class="input-group-addon">Location</span>
                <input class="form-control" type="text" ng-model="srChildLocation" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="list-group children-record">
        <li class="list-group-item" ng-repeat="child in children.childrenArr | filter:srChildName | filter:srChildLocation | orderBy:sortChild:reverse "  ng-click="slectChild($event);" id={{child.uid}} >{{child.name}} <span class="badge badgeBgRed">{{child.picked}} </span> <span class="text-muted pull-right">{{child.location}}</span></li>
      </ul>
      <div class="pickDrop pull-right">
        <a class="btn btn-default btn-success" href="javascript:void(0);" ng-click="pickUpDrop(true,false);">Pick Up</a>
        <a class="btn btn-default btn-danger" href="javascript:void(0);" ng-click="pickUpDrop(false,true);">Drop</a>
      </div>
    </div>
  </div>
</div>

<div class="footer navbar navbar-default navbar-fixed-bottom" ng-click="check();">
  <div class="container">
    <p><span class="glyphicon glyphicon-star"></span>Team ChildDayCare | &copy |MAdhav|Shouvik|Pranoy</p>
  </div>
</div>
