<div class="header">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Child DayCare</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
		<li><a href="javascript:void(0)">Welcome {{Data.DisplayName}}</a></li>			 
        <li><a href="#">LogOut</a></li>              
                
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<div class="container">
<div class="row jumbotron">
  <div class="col-md-6">
	<div>
	  <h1>Daycare App</h1>
	  <p class="lead">
		<img src="images/preschool-clipart.gif" alt="Daycare"/><br><br>
		Get rid of kids' tension. Rely on us. 
	  </p>
	  <p><a class="btn btn-lg btn-success" ng-href="#"><span class="glyphicon glyphicon-user"></span> User Login</a></p>
	</div>
  </div>
  <div class="text-left col-md-6">
  <div class="bcastmsgs">
	<li ng-repeat="msg in bcastmsgs"> 
		{{msg.text}}					
	</li>	
  </div>
  </div>  
</div>
</div>
<div class="container">
  <div class="row baby-desc">
    <div class="col-md-4">
        <img class="img-responsive img-center" src="images/baby1.jpg" />
        <h4>What do we offer?</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque purus risus, id ultricies tellus gravida non. Etiam sollicitudin placerat pellentesque. Quisque non laoreet eros. Etiam a sem ut purus dapibus interdum. Suspendisse tincidunt sem sed est lobortis, ut tincidunt ipsum pharetra. Morbi porta pellentesque diam, quis ultricies risus cursus ac. Fusce vestibulum mattis lorem at fermentum. Nam enim augue, bibendum eget dictum id, vestibulum at libero.</p>
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="images/baby2.jpg" />
      <h4>Why do we offer?</h4>
        <p class="text-muted">Praesent faucibus cursus aliquet. Quisque sit amet aliquam libero. Vestibulum facilisis pulvinar justo eget volutpat. Nullam luctus ut tortor quis pulvinar. Nunc a semper dui. Proin posuere tincidunt ultricies. Morbi vulputate tempor nunc vestibulum vestibulum. Vivamus bibendum condimentum purus, eget tincidunt lorem porttitor eget. Praesent sollicitudin ac ligula quis volutpat. Mauris eu mollis ante, ut tincidunt justo. Donec molestie suscipit metus, non cursus nibh interdum et.</p>
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="images/baby3.jpg" />
      <h4>How do we offer?</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque purus risus, id ultricies tellus gravida non. Etiam sollicitudin placerat pellentesque. Quisque non laoreet eros. Etiam a sem ut purus dapibus interdum. Suspendisse tincidunt sem sed est lobortis, ut tincidunt ipsum pharetra. Morbi porta pellentesque diam, quis ultricies risus cursus ac. Fusce vestibulum mattis lorem at fermentum. Nam enim augue, bibendum eget dictum id, vestibulum at libero.</p>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <p><span class="glyphicon glyphicon-plane"></span>Team ChildDayCare | &copy |Madhav|Shouvik|Pranoy</p>
  </div>
</div>

